body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a0000;
  color: #dccfc4;
}

.tela-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #2a0000;
  padding: 20px;
  width: 100%;
}

.conteudo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

header h1 {
  margin: 0;
}

nav a {
  margin: 0 10px;
  color: #dccfc4;
  text-decoration: none;
}

.carrinho {
  width: 24px;
}

.secao-principal {
  width: 200%;
  text-align: center;
}

.espaguete {
  width: 386px;
  height: 221px;
  top: 06px;
  left: 17px;
  gap: 0px;
  opacity: 0px;
}

.imagem-restaurante {width: 450px;
  height: 471px;
  border-radius: 0px 0px 0px 0px;
  opacity: 0px;
  ;
}

.imagem-vinho {
  width: 301px;
  height: 350px;
  border-radius: 0px 0px 0px 0px;
  opacity: 0px;
}

.retangulo {
  background-color: #02020e;
  height: 1px;
  width: 100%;
}

.secao-principal h2 {font-family: Literata;
  font-size: 110px;
  font-weight: 400;
  line-height: 163.35px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

h3 {
  margin-top: 20px;
}

p {
  text-align: justify;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

.reserva {
  background-color: #02020e;
  padding: 20px;
  width: 100%;
  margin-top: 30px;
}

.reserva input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  background-color: #dccfc4;
  border: none;
}

.reserva button {
  padding: 10px;
  background-color: #02020e;
  color: #dccfc4;
  border: none;
  width: 100%;
}

footer {
  background-color: #2a0000;
  padding: 20px;
  text-align: center;
  width: 100%;
}

footer nav a {
  color: #ffffff99;
  margin: 0 10px;
}

footer .logo-riviera {
  width: 50px;
  object-fit: cover;
  margin: 10px;
}
nav {
  display: flex;
}

nav a {
  margin-right: 15px;
}

ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none; 
}
